p {
    background-color: rgb(58, 190, 58);
    font-size: 24px;
}

.container {
    display: inline-block;
    text-align: center;
    background-color: rgb(69, 69, 69);
}

.all {
    text-align: center;
}